@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html {
    scroll-behavior: smooth;
}
#inicio{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("assets/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg"); 
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #ff5080;
}
#inicio .contenido header .contenido-header .logo {
    max-width: 55px;
    height: auto;
}
#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}
#inicio .contenido header .contenido-header nav ul a:hover {
    color: #ff5080;
}
#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover{
    color: #ff5080;
}
#inicio .contenido header .contenido-header .seleccionado {
    color: #ff5080;
}
#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}
#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: #ff5080;
}
#inicio .contenido .presentacion .legend {
    font-size: 20px;
    font-family: italic;
    text-align: center;
    margin: 12px;

}
#inicio .contenido .presentacion .legend span {
    color: #ff5080; 
}
#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .contenido .presentacion a:hover {
    background-color: #ff5080;
}
#icono-nav {
    color: #fff;
    display: none;
}

/* SECCION S O B R E  M I */

#sobremi {
    max-width: 100%;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}
#sobremi .contenedor-foto {
    max-width: 500px;
    /* margin-right: 80px; */
    margin: 0 80px 0 130px;
}
#sobremi .contenedor-foto img {
    width: auto; 
    height: auto;
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 20px;
}
#sobremi .sobremi {
    margin: 0 130px 0 40px;
    min-width: 300px;
}
#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
#sobremi .sobremi h2 span {
    color: #ff5080;
}
#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#sobremi .sobremi p {
    font-size: 15px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}
#sobremi .sobremi .datos_contacto {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0; 
}
#sobremi .sobremi .datos_contacto .whatsapp img {
    width: 4vw;
    height: auto;
    padding: 10px; 
}
#sobremi .sobremi .datos_contacto .linkedIn img {
    width: 4vw;
    height: auto; 
    padding: 10px; 
}
#sobremi .sobremi .datos_contacto .gmail img {
    width: 4vw;
    height: auto;
    padding: 10px; 
}
#sobremi .sobremi .cv {
    display: flex;
    justify-content: center;
}
#sobremi .sobremi .download_cv {
    display: inline-block;  
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}
#sobremi .sobremi .download_cv:hover {
    background-color: #ff5080;
    color: #fff;
}

/* SECCION SERVICIOS */
#servicios {
    padding: 100px 15px;
    text-align: center;
    background: linear-gradient(#eb5a5acc, rgba(33,16,16,.8)), url("assets/MERN.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#servicios .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #a5a4a4;
    text-decoration-thickness: 5px;
}
#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}
#servicios .fila .servicio {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 10px;
    border-radius: 8px;
    transition: .5s;
}
#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}
#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
    color: #ff5080;
}
#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}
#servicios .fila .servicio hr {
    width: 40%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}
#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 -10px 10px -10px;
}
#servicios .fila .servicio ul li {
    background-color: #514b4b;
    border: solid 1px #000000;
    color: white;
    font-weight: 600;
    padding: 10px 5px;
    border-radius: 5px;
    width: 5vw;
    cursor: pointer;
    box-shadow: 2px 2px 2px #706e6e;
}
#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

/* SECCION HABILIDADES */
.contenedor-skills {
    padding: 100px 0;
    text-align: center;
    background-color: #f3f3f3;
}
.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}
.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}
.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}
.contenedor-skills .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}
/* el siguiente estilo se aplicara luego mediante js para lograr la animación de la barra */
.contenedor-skills .skill .barra .barra-progreso1 {
    background-color: #fff;
    width: 75%;
    height: 6px;
    animation: progreso1 4s forwards;
}
.contenedor-skills .skill .barra .barra-progreso2 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso2 5s forwards;
}
.contenedor-skills .skill .barra .barra-progreso3 {
    background-color: #fff;
    width: 70%;
    height: 6px;
    animation: progreso3 6s forwards;
}
.contenedor-skills .skill .barra .barra-progreso4 {
    background-color: #fff;
    width: 65%;
    height: 6px;
    animation: progreso4 7s forwards;
}
.contenedor-skills .skill .barra .barra-progreso5 {
    background-color: #fff;
    width: 73%;
    height: 6px;
    animation: progreso5 8s forwards;
}
.contenedor-skills .skill .barra .barra-progreso6 {
    background-color: #fff;
    width: 82%;
    height: 6px;
    animation: progreso6 9s forwards;
}
.contenedor-skills .skill .barra .barra-progreso7 {
    background-color: #fff;
    width: 65%;
    height: 6px;
    animation: progreso7 10s forwards;
}

/* creamos las animaciones de las barras */

@keyframes progreso1{
    0% {
        width: 0;
    }
    100% {
        width: 75%;
    }
}
@keyframes progreso2{
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}
@keyframes progreso3{
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
@keyframes progreso4{
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}
@keyframes progreso5{
    0% {
        width: 0;
    }
    100% {
        width: 73%;
    }
}
@keyframes progreso6{
    0% {
        width: 0;
    }
    100% {
        width: 82%;
    }
}
@keyframes progreso7{
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

/* SECCION PORTAFOLIO */
#portfolio {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
    background: linear-gradient(#eb5a5acc, rgba(33,16,16,.8)), url("assets/1218911.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}
#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#portfolio .fila .proyecto {
    max-width: 80%;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: 1s;
}
#portfolio .fila .proyecto:hover img {
    filter:grayscale(0)
}
#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ff5080;
    font-size: 12px;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: 1s;
}
#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

/* SECCION CONTACTO */
#contacto {
    padding: 100px 15px;
}
#contacto .titulo-seccion {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}
#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}
#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input {
    width: 48%;
}
#contacto .contenedor-form .input-full {
    width: 100%;
}
#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}
#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}

/* SECCION FOOTER */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:800px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
    #inicio .contenido header .contenido-header .logo {
        width: 15vw;
    }
    #sobremi {
        padding: 50px 0;
        display: block;
        text-align: center;
    }
    #sobremi .contenedor-foto {
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        max-width: 80%;
        height: auto;
        border-radius: 20px;
        background-color: #f3f3f3;
        padding: 8px;
        margin-bottom: 20px;
    }
    #sobremi .sobremi {
        margin: 0 12px;
    }
    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    #sobremi .sobremi .datos_contacto .whatsapp a img,
    #sobremi .sobremi .datos_contacto .linkedIn img,
    #sobremi .sobremi .datos_contacto .gmail img {
        width: 20vw;
    }
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
        margin: 20px auto;
    }
    #servicios .fila .servicio {
        margin: 20px auto;
    }
    #servicios .fila .servicio ul {
        display: ruby-text;
    }
    .contenedor-skills {
        padding: 50px 20px;
    }
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}